/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --decoration-color: #ff0070;
    --hover-color: #f1b2ce;
    --title-decor-color: #000028;
    --title-color: #db00ff;
    --hover-link-color: #f1b2ce;
    --hover-button-color: rgba(255, 0, 112, 0.4);
    --focus-link-color: #f1b2ce;
    --focus-button-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --text-color: #353430;
    --title-color: #ffc2e6;
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decoration-color: #353430;
    --hover-link-color: #353430;
    --hover-button-color: rgba(50, 49, 45, 0.4);
    --focus-link-color: #353430;
    --focus-button-color: #353430;
    --title-decor-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
